
  .hero h1 {
    font-weight: 800;
    line-height: 30px;
    font-size: 48px;
   
  }
  .hero p {
    font-weight: 600;
    color: #2e2e2e;
    max-width: 90%;
    margin-top: 20px;
    
  }
  .hero{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 80px;
    left:-38px;
    
  }
  
 